body {
  margin: 0;
  background-color: white;
  font-family: Arial, sans-serif;
}

html, body, .link {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

button {
  width: 150px;
  height: 40px;
  border-width: 1px;
  border-style:solid;
  border-color: #297A4A;
  color: #297A4A;
  border-radius: 7px;
  background-color: white;
}

button.rightArrow {
  width: 30px;
  height: 375px;
  margin-left: 50px;
  margin-right: 75px;
  border-radius: 0px;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  font-size: 30px;
  color: #4C986B;
}

button:disabled {
  color: darkgrey;
  border-color: darkgrey;
}

a {
  margin-left: 50px;
  color: #FEBAAA;
  text-decoration: none;
}

div.left {
  float: left;
  height: 100%;
}

textarea {
  border: 1px solid #888; 
  border-radius: 5px;
  padding: 5px;
  font-family: inherit;
  font-size: 14px;
  color: #404040;

}

textarea:disabled {
  background-color: #FFFFFF;
}

em {  /* or .call em, but you should aim for consistency in your styling */
    font-style: normal;
    font-size: 80%;
}

.link {
  display: flex;
  align-items: center;
  justify-content: left;

}

.header {
  background-color: white;
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #297A4A;
}

.blur {
  filter: blur(2px);
}

input {
  border-width: 0;
  background-color: inherit;
  border-bottom-width: 1px;
  border-color: darkgrey;
}

input:focus {
  border-color: darkgreen ;
}

.top {
  margin-left: 2%;
  color: #297A4A;
}

.content {
  margin-left: 1%;
}

.horizontal {
    display: flex;
    align-items: center; 
}

.dollars::before {
  content: '$';
}

.people::before {
  content: '#';
}


.options {
  background-color: #AA4F39;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  vertical-align: bottom;
  text-align: center;
  height: 5vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type="email"]:invalid {
  outline-width: 0;
  outline: none;
  border-color: red;
  box-shadow: 0 0 0 red;
}

input:invalid {

}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}